// row gutter
@mixin g($gutter: $gutter-base) {
  $gutterLR: $gutter / 2;
  margin-left: -$gutterLR;
  margin-right: -$gutterLR;
  margin-top: -$gutter;
  > * {
    padding-left: $gutterLR;
    padding-right: $gutterLR;
    margin-top: $gutter;
  }
  & + & {
    margin-top: 0;
  }
}
@mixin gy($gutter: $gutter-base) {
  margin-top: -$gutter;
  > * {
    margin-top: $gutter;
  }
  & + & {
    margin-top: 0;
  }
}
@mixin gx($gutter: $gutter-base) {
  $gutterLR: $gutter / 2;
  margin-left: -$gutterLR;
  margin-right: -$gutterLR;
  > * {
    padding-left: $gutterLR;
    padding-right: $gutterLR;
  }
}

// list gutter
@mixin gt($size: $gutter-base) {
  > *:not(:first-child) {
    margin-top: $size;
  }
}
@mixin gb($size: $gutter-base) {
  > *:not(:last-child) {
    margin-bottom: $size;
  }
}
