@mixin ts($speed: $ts-time-base) {
  transition: color $speed, background-color $speed, border-color $speed, box-shadow $speed;
}
@mixin ts-shd($speed: $ts-time-base) {
  transition: box-shadow $speed;
}
@mixin ts-opc($speed: $ts-time-base) {
  transition: opacity $speed;
}
@mixin ts-svg($val, $speed: $ts-time-base) {
  transition: $val $speed;
}
@mixin ts-off() {
  transition: none !important;
}
@mixin ts-all($speed: $ts-time-base) {
  transition: all $speed;
}
