$icon-spacing-y: .3em;

@include font('icomoon','icomoon/icomoon');
[class^="icon-"],[class*=" icon-"] {@include ic}
@import 'icomoon';

.ic {
  &--middle {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
  }
  &--left {
    margin-right: $icon-spacing-y;
  }
  &--right {
    margin-left: $icon-spacing-y;
  }
}
