@import 'variables';
@import 'mixin/reset-btn';
@import 'mixin/btn-size';
@import 'mixin/btn-icon';
@import 'mixin/btn-group';

button, .bt {
	[class*="icon-"], [class*="fa-"] {
		padding: 1px; // fixed: Safari
		display: block;
	}
}

.bt {
  $root: &;
  @include reset-btn;
  input {
    @include field-hide;
  }
  @include btn-group($root);
  @include btn-icon($btn-icon-spacing-y-base);
  @import 'theme';
  @import 'radius';
}