$grid-columns: 12;

// Breakpoints
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Grid containers (!bootstrap)
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

// Grid breakpoints (!bootstrap)
$grid-breakpoints: (
  xs: 0,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);

// Media min
$min-sm: "min-width: #{$sm}";
$min-md: "min-width: #{$md}";
$min-lg: "min-width: #{$lg}";
$min-xl: "min-width: #{$xl}";
$min-xxl: "min-width: #{$xxl}";

// Media max
$maxnum: 0.02px;
$max-sm: "max-width: #{$sm - $maxnum}";
$max-md: "max-width: #{$md - $maxnum}";
$max-lg: "max-width: #{$lg - $maxnum}";
$max-xl: "max-width: #{$xl - $maxnum}";
$max-xxl: "max-width: #{$xxl - $maxnum}";

// Media base transition
$max-base: $max-lg;
$min-base: $min-lg;
