$ch-size: 18px;
$ch-spacing-col: 8px;
$ch-bg: $input-bg-color;

$ch-color-checked: $color-1;
$ch-gutter-checked: 4px;

$ch-border-width: $input-border-width;
$ch-border-color: $input-border-color;
$ch-border-color-focus: $input-border-color-focus;
$ch-border-radius: 0;

&--tm-1 {
  #{$root}__col {
    &:last-child {
      margin-left: $ch-spacing-col;
    }
  }
  [type="checkbox"] + #{$root}__checked,
  [type="radio"] + #{$root}__checked {
    @include ts;
    background-color: $ch-bg;
    border: $ch-border-width solid $ch-border-color;
    border-radius: $ch-border-radius;
    width: $ch-size;
    height: $ch-size;
  }
  [type="checkbox"] + #{$root}__checked {
    &::before {
      border-bottom: 3px solid $ch-color-checked;
      border-left: 3px solid $ch-color-checked;
      top: 3px;
      left: 1px;
      width: 100%;
      height: 50%;
      transform: rotate(-50deg) scale(0.7);
    }
  }
  [type="radio"] + #{$root}__checked {
    $ch-border-radius: 50%;
    border-radius: $ch-border-radius;
    width: $ch-size;
    height: $ch-size;
    &::before {
      top: $ch-gutter-checked;
      left: $ch-gutter-checked;
      right: $ch-gutter-checked;
      bottom: $ch-gutter-checked;
      border-radius: $ch-border-radius;
      background-color: $ch-color-checked;
    }
  }
  #{$root}__input {
    // focus
    &:focus + #{$root}__checked {
      background-color: $ch-bg;
      border-color: $ch-border-color-focus;
    }
    // checked
    &[type="checkbox"]:checked + #{$root}__checked {
      // invert color
      $ch-color-checked-invert: #ffffff;
      background-color: $ch-color-checked;
      border-color: $ch-color-checked;
      color: $ch-color-checked-invert;
      &::before {
        border-bottom-color: $ch-color-checked-invert;
        border-left-color: $ch-color-checked-invert;
      }
    }
  }
}
