extends _base/_main.pug
block vars
  - title = ['О компании']
  - header = 1
  - footer = 1
  - modals = 1
block content
  .section
    .container
      .mb-3
        +b-breadcrumb(['Главная','Категория','Заголовок статьи']).hide-lg-max
      .mb-3
        h1.m-0
          | Title
          a(href="#")
      .mb-3
        p
          a(data-fancybox href="https://source.unsplash.com/IvfoDk30JnI/1500x1000")
            <img src="https://source.unsplash.com/IvfoDk30JnI/240x160" />
        p
          a(href="#", data-toggle="modal" data-target='#modal-inform')
            | open modal
        - for (var x = 1; x <= 2; x++)
          +p
    .container
      form
        .form-group.form-group--tm-1
          .form-field.form-field--tm-1.form-field-icon
            input(type='text' size='30' placeholder='search' required).form-field
            .form-field-icon__icon.order-1
              button(type="button").bt
                i.fas.fa-search
        .form-group.form-group--tm-1
          label.form-label.form-label--tm-1 Ваше имя
          input(type="text" placeholder="Ваше имя" required).form-field.form-field--tm-1
        .form-group.form-group--tm-1
          input(type="email" placeholder="Ваш e-mail" required).form-field.form-field--tm-1
        .form-group.form-group--tm-1
          input(type="tel" placeholder="Ваш телефон" required).form-field.form-field--tm-1.w-100
        .form-group.form-group--tm-1
          textarea(rows="5" placeholder="Сообщение" required).form-field.form-field--tm-1.w-100
        .form-group.form-group--tm-1.form-group--bt
          button(type="submit").bt.bt--tm-1 submit
