// BASE
&--base {
  border: $btn-border-size-base solid transparent;
  border-radius: $border-radius-base;
  padding: {
    left: rem($btn-padding-x-base);
    right: rem($btn-padding-x-base);
  }
  font-family: $ff-base;
  line-height: $btn-line-height-base;
  @include btn-size(40, 16);
}
&.disabled,
&[disabled] {
  cursor: default !important;
  // background-color: $placeholder-color !important;
  opacity: 0.5;
}

// THEME
&--tm-1 {
  @extend #{$root}--base;
  background: $link-color-base;
  color: #fff;
  font-size: inherit;
  &:not([disabled]):not(.disabled) {
    &:hover,
    &.hover,
    &:active,
    &.active {
      background: $link-color-base-hover;
      color: #fff;
    }
  }
}

&--tm-outline-1 {
  @extend #{$root}--base;
  border-color: $link-color-base;
  color: $link-color-base;
  &:not([disabled]):not(.disabled) {
    &:hover,
    &.hover {
      background: $link-color-base;
      color: #fff;
    }
    &:active,
    &.active {
      background: $link-color-base-active;
      border-color: $link-color-base-active;
      color: #fff;
    }
  }
}

&--tm-link-1 {
  @extend #{$root}--base;
  color: $link-color-base;
  &:not([disabled]):not(.disabled) {
    &:hover,
    &.hover {
      color: $link-color-base-hover;
    }
    &:active,
    &.active {
      color: $link-color-base-active;
    }
  }
}

// SIZE
&--lg {
  @include btn-resize(1.25);
  @media ($max-md) {
    &:not(#{$root}--md-not-resize) {
      @include btn-resize(1);
    }
  }
}
&--sm {
  @include btn-resize(0.75);
}
