.rotate-90 {
  transform: rotate(90deg)
}

.rotate-180 {
  transform: rotate(180deg)
}

.rotate-270 {
  transform: rotate(270deg)
}

.flip-x {
  transform: scaleX(-1);
}

.flip-y {
  transform: scaleY(-1)
}
.flip-both {
  transform: scale(-1)
}