// base form-field
.form-field {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  box-shadow: none;
  vertical-align: middle;
  max-width: 100%;
  line-height: normal;
  &:not(textarea):not(.form-field-icon) {
    @include text-overflow;
  }
}
textarea.form-field {
  display: block;
  height: auto;
}

// base form-field-icon
.form-field-icon {
  @include tsn;
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  input {
    outline: none !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    border: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100%;
    width: 100%;
  }
  &__icon {
    flex-shrink: 1 !important;
    * {
      display: block;
    }
  }
}

// base form-label
.form-label {
  display: block;
}

// ios field fix
html.is-ios {
  textarea.form-field {
    text-indent: -0.3em;
    &::placeholder {
      text-indent: 0;
    }
  }
  @media screen and (max-width: 480px) {
    .form-field,
    .form-select {
      font-size: 16px !important;
    }
  }
}

// import files
@import "mixin/import";
@import "theme/form-field--tm-1";
