// COLORS
$color-1: #333333;
$color-2: #cc0000;
$color-3: #9ACD32;
$color-4: #0275d8;

$link-color-base:        $color-4;
$link-hover-color-base:  darken($link-color-base, 7.5%);
$link-active-color-base: darken($link-color-base, 15%);

$bg-color: (
  white:        #ffffff,
  black:        #000000,
  gray:         #cccccc,
);
$text-color: (
  white:        #ffffff,
  black:        #000000,
  gray:         #cccccc,
  accent:       $color-2,
  link:         $link-color-base,
);